 /* header style start   */
 /* body {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-family: arial;
  color: #989898;
} */
.main_container {
  width: 100%;
  margin: 0px;
  padding: 0px;
}
.container {
  max-width: 1170px;

}

.bg_blue{
  background-color: #2a2867 !important;
}

.top_haeder {
  padding: 5px 0;
}
.logo {
  margin: 14px 0 8px;
}
.providing_premium {
  color: #131262;
  font-size: 15px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  margin: 20px 0;
}

.header_right {
  margin: 6px 0;
}
.header_right p {
  margin: 0;
  padding: 0;
  text-align: right;
}
.header_right p span a {
  color: #ec1c24 !important;
  padding: 0 3px;
}
.header_right p a i {
  margin-right: 6px;
  color: #fff;
  border: solid 1px #2a2867;
  width: 24px;
  height: 24px;
  text-align: center;
  line-height: 24px;
  background: #2a2867;
  border-radius: 50%;
}
.header_right p a {
  font-size: 15px;
  margin: 0;
  padding: 0;
  color: #2a2867;
  font-weight: 600;
}
.header_right p a:hover {
  color: #ec1c24 !important;
}

a {
  outline: 0;
  text-decoration: none;
}

@media screen and (max-width: 368px) {
  .header_right p {
    text-align: left;
  }
}

@media screen and (max-width: 767px) {
  .top_searchable_container {
      padding:10px 30px !important;
  }
  .logo {
    width: 100%;
    text-align: center;
    margin: 14px 0 8px;
  }
  .providing_premium {
    text-align: center;
  }
  .header_right {
    margin: 7px 0;
    padding-left: 18px;
  }

  .header_right p {
    text-align: center;
  }
  .header_right p {
    margin-bottom: 8px;
  }
}

@media screen and (min-width: 767px) and (max-width: 1100px) {
  .top_searchable_container {
      padding:10px 30px !important;
  }
  .header_right p {
    text-align: right;
    padding-right: 20px;
  }
}



/* header style end   */

/* <!--  navbar style start  --> */

.navbar {
  padding: 0px;
}

.nav-link {
  color: #fff;
  font-size: 16px;
  padding: 15px 15px;
  margin-right: 20px;
  font-weight: 700;
}

.navbar-nav {
  width: 100%;
  display: flex;
  justify-content: center;
}

.navbar-nav .nav-item {
  text-align: left;
}

.high{
  background-color: #ec1c24 !important;
  color: #fff !important;
}

.nav-link:hover,
.dropdown-menu li a:hover {
  background-color: #ec1c24;
  color: #fff;
  display: list-item !important;
}
.navbar-nav>li>a {
  text-decoration: none;}
.dropdown-menu li a {
  font-size: 14px;
  color: #fff;
  font-weight: 400;
  border-bottom: 1px solid #337ab7;
  text-decoration: none;
  outline: 0;
  padding: 10px 15px;
  display: list-item !important;


}

.dropdown-menu {
  background-color: #2a2867;
  margin: 0;
  padding: 0;

}

/* .collapse:not(.show) {
  display: block;
}
*/

.navbar-brand {
padding: 15px;
font-size: 18px;
line-height: 20px;
color: #fff;
}

.navbar-brand:active{
color: #fff !important;
}

.navbar-toggle {
float: right;
margin-top: 8px;
margin-right: 15px;
margin-bottom: 8px;
background-color: transparent;
background-image: none;
border: 1px solid #fff !important;
border-radius: 4px;
color: #fff;
background-color: #2a2867;
}
.border_white{
border: 0.8px solid  #fff;

}


@media screen and (max-width:1000px){
.nav-link{
  margin-right: 0px;   
}

.container-fluid{
  padding-left: 0px;
  padding-right: 0px;
}

.dropdown-menu li a {
  padding: 7px 9px;
  color: #777;

}

.nav-link-dropdown{
  background-color: #ec1c24;
width:30%
}

}


/* <!--  navbar style end  --> */





/* contact form style start */

.contact_form_container{
  width: 100%;
}
.contact_innerpage_content{
  padding: 30px 0px;
  width: 100%;
}
.contact_innerpage_content h2{
  font-size: 30px;
  line-height: 36px;
  color: #000;
  margin-bottom: 20px;
  font-weight: 400;
  text-transform: uppercase;
}
.contact_form  .form-group{
  margin-bottom: 15px;
  }
  .contact_form  .form-control{
   
  border-radius:  0px !important;
  }

  .contact_form label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 600;
    color: #777;
}

  .contact_form .form_submit{
    
      outline: 0 !important;
      
      padding: 10px;
      font-weight: 700;
      color: #fff !important;
      background-color: #337ab7;
      border-color: #2e6da4;
     
      border: 1px solid transparent;
      border-radius: 4px;
  }
  .contact_innerpage_content_right p{
    margin-bottom: 5px;
    font-size: 14px;
    text-align: justify;
  }
  /* .just_airport {
    font-size: x-small !important;
  } */
  .contact_innerpage_content_right i{
  font: normal normal normal 14px / 1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;

}
.contact_innerpage_content_right a{
  outline: 0;
  text-decoration: none;
}
.contact_innerpage_content_right a:hover{
color: #000 !important;
}
  @media screen and (max-width: 767px) {
    .contact_form_container{
      margin: 0px 10px;
  }
  }

 
  
/* contact form style end */


/* <!-- whychoose style start  --> */ 
.why_choose_container{

  background-image: url("../images/why_chose.jpg") ;
  /* background-color: aqua !important; */
  background-size:cover ;
  background-position: center;
  background-repeat: no-repeat;
width: 100%;
}
.ptb-50 {
padding-top: 50px;
padding-bottom: 50px;
}

.whychose_section{
color: #fff;
}
.whychose_section .title {
display: inline-block;
width: 100%;
text-align: center;
margin-bottom: 40px;
}
p {
margin-bottom: 5px;}

.whychose_section .title h3 {

text-transform: uppercase;
font-weight: 1000;
margin: 0;
font-size: 25px;
line-height: 18px;
}
.whychose_section .title p {
margin-top: 10px;
}
.best_price {
/* width: 100%; */
text-align: center;

}
.fa{
font:normal normal normal 14px / 1 FontAwesome;

}
.best_price i {
font-size: 40px;
margin-bottom: 20px;
/* text-align: center; */

}
.best_price p{
margin-bottom: 5px;

}

.best_price p strong {
font-weight: 700;
font-size: 16px;

}
@media screen and (max-width: 990px) {
.best_price {
  margin-bottom: 15px;
}
.best_price p {
font-size: 13px;
}
}


/* <!-- Whychoose style end   --> */




/* <!-- footer style start --> */

.footer {
   
 padding: 30px 0px;
}

.footer_left .title, .footer_mid .title {
margin: 0 0 18px;
width: 100%;
float: left !important;
color: #fff;
font-size: 18px;
font-weight: 600;
}
.footer_left p i {
font-size: 14px;
line-height: 26px;
margin-right: 5px;
color: #ec1c24;
}

.fa {
display: inline-block;
font: normal normal normal 14px / 1 FontAwesome;
}

.footer_left p ,.footer_left p a{
color: #fff;
font-size: 13px;
}

p {
margin-bottom: 5px;
}
a {
outline: 0;
text-decoration: none;
}

.footer_left p span a {
color: #ec1c24;
padding: 0 3px;
font-size: 16px;
}



.footer_mid .footer_mid_items  div{
width: 50%;
}
.footer_mid .footer_mid_items  div a{
color: #fff;
font-size: 14px;
text-decoration: none !important;
}
.footer_mid .footer_mid_items div a:hover{
color: #ec1c24;

}

.footer_right img{
width: 100%;

}
.footer_right p{
font-size: 12px;
color: #fff;
margin-top: 15px;
}

@media screen and (max-width: 368px) {
.footer_left p  {
text-align: left !important;
}

}
@media screen and (max-width: 767px) {
.footer_mid {
   margin-top: 20px;
}
}

@media screen and (max-width: 990px) {
.footer {
  padding: 30px 15px !important;
}
.footer_mid {
   margin-bottom: 25px;
}
.footer_right img {
   width: 58%;
   padding-left: 12px;
   margin: 0 0 18px;
}
}


/* <!-- footer style end --> */

   /* login modal style start */

 
   .login_popup .modal-dialog {
    max-width: 480px;
}
.login_popup  .modal-header {
    background: #2a2867;
}

.login_popup .modal-header {
    padding: 15px;
    border-bottom: 1px solid #e5e5e5;
    display: flex;
   justify-content: space-between;
   align-items: center;
}
.login_popup .modal-header .modal-title {
    color: #fff;
    margin: 0;
    line-height: 1.42857143;
    font-size: 20px;
}
.login_popup .modal-header .close {
    margin-top: -2px;
    padding: 0; ;
    cursor: pointer;
    background: 0 0;
    border: 0;
  
    font-size: 21px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .2;

}
.login_popup .modal-body {
    position: relative;
    padding: 15px;
}

.login_popup .form-group {
    margin-bottom: 15px;
}
.login_popup label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
    color: #ec1c24;
}
.login_popup .form-control{
height: 40px;
    border-radius: 0;
}
/* .login_popup .form-control:focus{
    border-color:1px solid #4e10f8 !important;

        
} */
.login_popup .btn {
    padding: 7px 20px;
    text-transform: uppercase;
}
.login_popup  .modal-footer .btn+.btn {
    /* margin-bottom: 0; */
    margin-left: 5px;
}
.login_popup  .btn-success {
    background: #ec1c24;
    border: solid 1px #ec1c24;
}
.login_popup .btn-primary:hover{
    background: rgb(26, 140, 185);

}
.login_popup  .btn-success:hover {
    background: #f52c33;

}
@media (min-width: 768px) {
    .modal-dialog {
        width: 600px;
        margin: 30px auto;
    }
}
      /* login modal style end */



