
 /* <!--  navbar style start  --> */

 .navbar {
    padding: 0px;
}

.nav-link {
    color: #fff;
    font-size: 16px;
    padding: 15px 15px;
    margin-right: 20px;
    font-weight: 700;
}

.navbar-nav {
    width: 100%;
    display: flex;
    justify-content: center;
}

.navbar-nav .nav-item {
    text-align: left;
}

.high{
    background-color: #ec1c24 !important;
    color: #fff !important;
}

.nav-link:hover,
.dropdown-menu li a:hover {
    background-color: #ec1c24;
    color: #fff;
    display: list-item !important;
}
.navbar-nav>li>a {
    text-decoration: none;}
.dropdown-menu li a {
    font-size: 14px;
    color: #fff;
    font-weight: 400;
    border-bottom: 1px solid #337ab7;
    text-decoration: none;
    outline: 0;
    padding: 10px 15px;
    display: list-item !important;


}

.dropdown-menu {
    background-color: #2a2867;
    margin: 0;
    padding: 0;

}

/* .collapse:not(.show) {
    display: block;
}
 */

.navbar-brand {
padding: 15px;
font-size: 18px;
line-height: 20px;
color: #fff;
}

.navbar-brand:active{
color: #fff !important;
}

.navbar-toggle {
float: right;
margin-top: 8px;
margin-right: 15px;
margin-bottom: 8px;
background-color: transparent;
background-image: none;
border: 1px solid #fff !important;
border-radius: 4px;
color: #fff;
background-color: #2a2867;
}
.border_white{
border: 0.8px solid  #fff;

}


@media screen and (max-width:1000px){
.nav-link{
    margin-right: 0px;   
}

.container-fluid{
    padding-left: 0px;
    padding-right: 0px;
}

.dropdown-menu li a {
    padding: 7px 9px;
    color: #777;

}

.nav-link-dropdown{
    background-color: #ec1c24;
width:30%
}

}


/* <!--  navbar style end  --> */